<form md-theme="default" layout="column" layout-align="center center" class="md-big-padding" style="font-size:1.2em" name="loginForm" ng-submit="submit()">
    <md-input-container>
      <label>Email</label>
      <input ng-model="user.email" type="email">
    </md-input-container>
    <md-input-container>
      <label>Password</label>
      <input ng-model="user.password" type="password">
    </md-input-container>
    <md-input-container>
      <md-button type="submit" class="md-raised md-primary">Sign in</md-button>
    </md-input-container>
</form>
