<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('gt-md')">
  <md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Hrms</h1>
  </md-toolbar>
  <md-content>
    <ul class="navigation-menu">
      <li ng-repeat="item in navigationItems">
        <md-button class="md-button md-default-theme" ui-sref-active="active" ui-sref="{{ item.name }}">
          <span>{{ item.name }}</span>
          <div class="md-ripple-container"></div>
        </md-button>
      </li>
    </ul>
  </md-content>
</md-sidenav>
